.projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 125%;
    margin: 0;
    justify-content: center;
    gap: 1rem;
    height: 50vh;
    overflow-y: scroll;
    scrollbar-color: #222034 transparent;
    scrollbar-width: thin;
}

.project {
    background-color: #e2d9ea;
    box-shadow: 10px 10px 3px #222034;
    margin-top: 1rem;
    padding: 1rem 2rem;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
}

.proj-title {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    margin: 0;
    margin-top: 1rem;
}

.proj-desc {
    margin: 0;
    text-align: justify;
    overflow-y: scroll;
    scrollbar-color: #222034 transparent;
    scrollbar-width: thin;
}

.proj-desc a {
    text-decoration: none;
    color: #533a6a;
}

.proj-desc a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}