.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 10%;
    margin: 1rem 0;
    justify-content: center;
    background-color: #e2d9ea;
    box-shadow: 10px 10px 3px #222034;
    max-height: 50vh;
}

.skill {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    align-items: center;
}