.about {
    padding: 1rem 3rem;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-align: justify;
}

.about img {
    float: left;
    margin: 1rem;
}