.skill-footer {
    margin-top: 1rem;
    padding: 1rem 5rem;
    border-top: solid;
    font-size: small;
    position: fixed;
    bottom: 0;
}

.skill-footer a {
    text-decoration: none;
    color: #533a6a;
}

.skill-footer a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}