body {
  margin: 0;
  padding: 0;
  background-color: #9c86b3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222034;
  width: 100vw;
  max-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45vw;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}